[default]
force_handlers = True

[ssh_connection]
private_key_file = ~/.ssh/id_rsa
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null